body{
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header header"
    "content content content menu"
    "footer footer footer footer";    
}

header{
    background-color: aqua;
    grid-area: header;
}

section{
    background-color: green;
    grid-area: content;
}

aside{
    background-color: pink;
    grid-area: menu;
}

footer{
    background-color: tomato;
    grid-area: footer;
}