.container {
  display: flex;
  gap: 10px;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: tomato;
  font-size: 28px;
  color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
