$bgColor: skyblue;
$itemcolor: tomato;
body {
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  background-color: black;
  width: 320px;
  height: 95vh;
  border-radius: 20px;
}
.header {
  // background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 10px;
  margin: 5px;
  .nav {
    border: 1px solid white;
    border-radius: 28px;
    color: white;
    margin: 0px;
    padding: 4px 12px;
  }
  .nav:hover {
    background-color: white;
    color: black;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.cards__card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px;
  padding: 5px 8px;
  .card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: space-around;
    .card__price {
      border: 1px solid black;
      border-radius: 20px;
      height: 20px;
      padding: 2px 15px;
      background-color: yellow;
    }
    .card__period {
      border: 1px solid black;
      border-radius: 20px;
      height: 20px;
      padding: 2px 15px;
      background-color: yellow;
    }
  }

  &:nth-child(3) {
    grid-column: span 2;
  }
  &:nth-child(6) {
    grid-column: span 2;
  }
}
